body{
  background-color: #292F36;
  font-family: 'Quicksand', sans-serif;
  color: #DBDBDB;
}

/* generic ^ */

.recipes-main{
  display:flex;
  text-align: center;
  justify-content: center;
  max-width: 95%;
  margin-top: 200px;
}

.recipe-main {
  list-style: none;

}

.recipe-image{
  height: 500px;
  width: 550px;
  margin: 0px 50px;
  border-radius: 15px;
}

.title{
  font-size: 48px;
  text-align: center;
}

p {
  font-size: 24px;
  text-align: center;
}

.container{
  padding-top: 50px;
  margin: auto;
  width: 100%;
  height: 125px;
}

.recipe-container{
  display: flex;
  margin-top: 100px;
}

.left, .right{
  width:50%;
}

.card-image{
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{

}

a{
  color: yellow;
}

